<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <% if @route.trains.empty? %>
    На маршруте нет поездов
  <% else %>
    <% @route.trains.each do |train| %>
      <%= train.number %><br/>
    <% end %>
  <% end %>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    На маршруте нет станций
  <% else %>
    <% @route.railway_stations.ordered.each do |station| %>
      <table>
        <tr>
          <td>Name:</td>
          <td>Position:</td>
        </tr>
        <tr>
          <td><%= station.name  %></td>
          <td>
            <%= form_tag  update_position_admin_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag 'Change', class: 'btn btn-success' %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_route_path(@route), class: 'btn btn-primary' %> |
<%= link_to 'Back', admin_routes_path, class: 'btn btn-secondary' %>
