<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %><br/>
  <% if @train.route %>
    <strong>Маршрут:</strong> <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
