<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %><br/>
  <% if @train.route %>
    <strong>Маршрут:</strong> <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
  Количество вагонов купе: <%= @compartment_carriages.count %><br/>
  Верхних мест в вагонах: <%= @compartment_carriages.sum(:top_places) %><br/>
  Нижних мест в вагонах: <%= @compartment_carriages.sum(:bottom_places) %><br/>
  Количество вагонов плацкарт: <%= @reserved_seat_carriages.count %><br/>
  Верхних мест в вагонах: <%= @reserved_seat_carriages.sum(:top_places) %><br/>
  Нижних мест в вагонах: <%= @reserved_seat_carriages.sum(:bottom_places) %><br/>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
