<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %><br/>
  <% if @train.route %>
    <strong>Маршрут:</strong> <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<% if @train.from_head %>
  <% @train.carriages.each do |carriage| %>
    <%= link_to carriage.number, carriage_path  %><br/>
  <% end %>
<% else %>
  <% @train.carriages.reverse.each do |carriage| %>
    <%= link_to carriage.number, carriage_path %><br/>
  <% end %>
<% end %>

<%= link_to 'Add a carriage', new_train_carriage_path(@train) %> |
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
