<div class="row">
  <% if @tickets %>
    <% @tickets.each do |ticket| %>
      <strong><%= t('ticket.train_number') %>: </strong><%= ticket.train.number %><br/>
      <strong><%= t('ticket.buyed') %>: </strong><%= ticket.user.name %><br/>
      <strong><%= t('ticket.for') %>: </strong><%= ticket.passport_data %><br/>
      <strong><%= t('ticket.initials') %>: </strong><%= ticket.initials %><br/>
      <%= link_to t('ticket.title'), ticket_path(ticket.id), class: 'btn btn-info' %><br/>
    <% end %>
  <% end %>
</div>
