<tr>
  <td><%= carriage.id %></td>
  <td><%= carriage.type %></td>
  <td><%= carriage.train.number %></td>
  <td><%= link_to 'Show', admin_carriage_path(carriage.id), class: 'btn btn-info' %></td>
  <td><%= link_to 'Destroy', admin_carriage_path(carriage.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
</tr>
