<h1>Find a ticket</h1>

<%= form_tag search_path do %>
  <%= collection_select :search, :arrival_station, RailwayStation.all, :name, :name %>
  <%= collection_select :search, :departure_station, RailwayStation.all, :name, :name %>
  <%= submit_tag 'Find' %>
<% end %>

<% if @time.present? %>
  <% @time.each do |el| %>
    <% el.route.trains.each do |train| %>
      <p>
       <strong>Train number:</strong>
       <%= train.number %>
      </p>
     <% end %>
      <p>
       <strong>Arrival time:</strong>
       <%= el.arrival_time %>
      </p>
      <p>
       <strong>Departure time:</strong>
       <%=  el.departure_time %>
      </p>
      <p>
        <strong>Buy a ticket:</strong>
        <%= link_to 'Buy a ticket', new_user_ticket_path(@user) %>
      </p>
  <% end %>
<% end %>
